@import "src/styles/mixins";

.container {
  width: 100%;
  background-color: #e5f6fb;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 20px;
}

.headerTitle{
  text-align: center;
  font-weight: 600;
}

.main{
  @include flexBetweenStart;
}